*{margin: 0;
padding: 0;}
/*fixer*/
.fixer{
	display: flex;
}
.top-bar {

	
	background-color: grey;
	display: flex;
	width: 100%;
	height: auto;
	position: fixed;
	
}

.logo {
	color: #fff;
	flex: 1;
	font-size: 3vw;
	padding: 2vw;
	
}
.menu {
	
	flex:3;
}
.menu ul {
	
	display: flex;
	list-style: none;
	margin-top: 2.2vw;
	flex-flow: row wrap;
}
.menu ul li {
	flex: 1;
	text-align: center;
}
.menu ul li a {
	color: #fff;
	font-size: 2.45vw;
	text-decoration: none;
}
.menu  ul li a:hover {
	color: red;
}
/*hero */
.hero {

	background-image: url(../images/carry.jpg);
	width: 100%;
	background-size: 100% 100%;
}
.hero-text {
	display: flex;
	padding: 15% 0;
}
.hero-text-items {
	color: red;
	margin: auto;
	padding-top: 20%;
	
	text-align: center;
	width: 50%;
} 
.hero-text-items h1 {
	font-size: 3.5vw;
	margin-bottom: 2vw;
	text-transform: uppercase;
}
.hero-text-items p {
	font-size: 2vw;
	margin-bottom: 2vw;
}
.hero-text-items a {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

}

/*column*/
.main-content {
	
	display: flex;
	flex-flow: row wrap ;
	padding: 5% 0;
} 
.main1{
	
	flex: 1;
	padding: 3%;
	text-align: center;
}
.main1 p {
	font-family: 'Dancing Script', cursive;
	font-size: 2.5vw;
}
.main1 h2 {
	margin-bottom: 2.5vw;
	font-size: 2.5vw;
}
/*register*/
.contact-items {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#contact{
	background: url(../images/klore.jpg) no-repeat;
	padding: 5vw 0;
	background-size: 100% 100%;
}
.contact-items h2 {
	color: #fff;
	font-size: 2.7vw;
	margin-bottom: 1.6vw;
}
.contact-items input[type="text"]{
	border-radius: 2vw;
	margin-bottom: 1vw;
	padding: 1.5vw;
	width: 55%;
}
.contact-items textarea{
	border-radius: 1vw;
	height: 6vw;
	padding: 1.2vw;
	width:55%;
	margin-bottom: 1.2vw;

}
.contact-items h2{
	color: red;
}
.contact-items a{
	text-decoration: none;
	font-size: 2vw;
	color: #fff;
	background-color: #000;
}
/*footer*/
.low-bar {
bottom: 0;
background-color: #000;
width: 100%;

} 
.foot {
	color: #fff;
	flex: 1;
	font-size: 3vw;
	padding: 1.6vw;
	text-transform: uppercase;
	text-align: center;
}
.links {
	display: flex;
	list-style: none;
	flex-flow: row wrap;
}
.links li {
	flex: 1;
	text-align: center;
}
.links li a img {
	
	width: 3.5vw;
	height: 3.5vw;
	margin-bottom: 3.6vw;
}
@media all and (max-width:615px){
	.top-bar{
		flex-direction: column;
		text-align: center;
		height: auto;
		position: fixed;
	}

	.hero-text-items p {
	content: "";
	}
	.low-bar {
		flex-direction: column;
		text-align: center;
	}
	.logo{
		padding: 1.6vw 0 0;
	}
	/*.menu ul{
		flex-direction: column;
		margin-top: 0;
	}*/

	.menu ul li{
		padding: 0.3vw;
	}
	.hero-text-items{
		font-size: 3vw;
	}
	.main-content{
		flex-direction: column;
	}
}
	
